@import url('https://fonts.googleapis.com/css?family=Assistant:300');

body {
    font-family: 'Assistant', sans-serif;
    height: 100vh;
    color: black;
    background-color:white;
    width: 100%;
}
.icons {
    justify-items: center;
    text-align: center;

}
    .container{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0  3rem;
        text-align: center;
        margin-top: 10%;
    }

h1, h3, h2 {
    font-weight: 200;
    margin: 0.4rem;
    text-align: center;
    font-family: 'Assistant', sans-serif;
}

h3, h2{
    font-size:2rem;
    color: white;

}

@media(min-width: 1200px) {
    h1{
        font-size:5rem;
    }
}
@media(max-width: 800px) {
    .container {
        padding: 0 1 rem;
    }
    h1{
        font-size: 3rem;
    }
}
@media(max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }

}
@media(max-width: 400px) {
    h1 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    
}
 
     
    /* Image for Parallax Section */ 
    .paralsec {
    background-color:#BDFFAD  ;
    }
     
    .paralsec1 {
    background-color: #FFCF81  }
     
    .paralsec2 {
    background-color: aquamarine;
    }
     
    /* Add more images for more sections */
     
    /* Remove Bottom Margin from Jumbotron */
    .jumbotron{margin-bottom: 0;}

    
   

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
        }
        footer {
            position: fixed;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 1rem;
        
            background-color: white;
            text-align: center;
        
            align-items: center;
            z-index: 1;
            }
            .jumbotron {
                width: 100%;
                webkit-box-shadow: 7px 10px 38px 0px rgba(64,64,64,0.38);
-moz-box-shadow: 7px 10px 38px 0px rgba(64,64,64,0.38);
box-shadow: 7px 10px 38px 0px rgba(64,64,64,0.38);
            }

            .pdf {
                width: 200%;
                height: 120%;
            }
            
            