@import url('https://fonts.googleapis.com/css?family=Assistant:300');

body {
    font-family: 'Assistant', sans-serif;

    background-color:white;
    width: 100%;
}
.icons {
    justify-items: center;
    text-align: center;

}
  

h1, h3, h2 {
    font-weight: 100;
    margin: 0.4rem;
    text-align: center;
    font-family: 'Assistant', sans-serif;
}

h3, h2{
  
    color: black;

}


@media(max-width: 800px) {
    .container {
        padding: 0 1 rem;
    }
    h1{
        font-size: 3rem;
    }
}
@media(max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }

}
@media(max-width: 400px) {
    h1 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    
}
 
     
   
    
     

    .jumbotronOne{
        margin-top:8%;
        margin-bottom: 600px;
        background-color: white  ;
        height: 100%;
        color: black;
        margin-left: 40px;
        margin-right :40px;
    }

    .jumbotronTwo{
     margin-left: 40px;
        margin-right :40px;
        margin-bottom: 200px;
        background-color: white ;
        height: 100%;
        color: black;
    }
   

    .jumbotronThree{
        margin-left: 40px;
        background-color: white ;
        height: 100%;
        color: black;
        margin-bottom: 550px;
        margin-right :40px;
    }
   
    .jumbotronFour{
        margin-bottom: 300px;
        background-color: white ;
        height:100%;
        color: black;
        margin-left: 40px;
        margin-right :40px;
    }
   
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
        }
        footer {
            position: fixed;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 1rem;
        
            color: black;
            text-align: center;
        
            align-items: center;
            z-index: 1;
            }
           

            .pdf {
                width: 90%;
                height: 180%;
            }
            
       