
@import url('https://fonts.googleapis.com/css?family=Assistant:200');

body {
    font-family: 'Assistant', sans-serif;
    height: 100vh;
}
.icons {
    justify-items: center;
    text-align: center;

}
    .container{
        display: flex;
        position: relative;
        flex-direction: column;  
        justify-content: center;
        height: 100%;
        padding: 0  3rem;
        text-align: center;
        width: 100%;
    }

h2 {
    margin: 0.4rem;
    text-align: center;
    color:white;
}

h1{
    color:#FFF8F3 ;   
    font-size:3rem; 
    ;
}
h2{
    font-size:1.5rem;
    
}

.owl-carousel .owl-item{
    height:500px;
    width:100%;
}

.owl-nav{
    text-align: center;
    font-size: 40px;
}

@media(min-width: 1200px) {
    h1{
        font-size:5rem;
    }
 
}
@media(max-width: 800px) {
    .container {
        padding: 0 1 rem;
    }
    h1{
        font-size: 3rem;
    }
    h4{
        font-size: 1rem;
    }

}
@media(max-width: 500px) {
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    
    h4{
        font-size: 1rem;
    }

}



.lead{
    font-size: 2rem;
}
.myText{
    font-size: 20px;
}


   
        h1 {
            font-size: 4em;
        }
        p {
            font-size: 1.2em;}
            .btn {
                padding: 0.5em;
            }
          
          
          
          
          nav {
                position: absolute;
                width: 100%;
                line-height: 60px;
          }
          
          nav ul {
                line-height: 60px;
                list-style: none;
                background: rgba(0, 0, 0, 0);
                overflow: hidden;
                color: #838383  ;
                padding: 0;
                text-align: center;
                margin:0;
                transition: 1s;
          }
          
          nav.black ul {
                background:#838383;
          }
          
          nav ul li {
                display: inline-block;
                padding: 6px 40px;;
          }
          
          nav ul li a {
                text-decoration:none;
                color: #FF5454   ;
                font-size: 16px;
          }
          a:hover{
              color: pink;
          }
          
          .menu-icon {
                line-height: 26px;
                width: 100%;
                background: #838383 ;
                box-sizing: border-box;
                padding: 15px 24px;
                cursor: pointer;
                color:white;
                display: none; 
                text-align: left;
          }
          
          @media(max-width: 786px) {
          
                .logo {
                      position: absolute;
                      top: 0;
                    
                }
          
                nav ul {
                      max-height: 0px;
                      background: #838383   ;
                }
          
                nav.black ul {
                      background: #838383  ;
                }
          
                .showing {
                      max-height: 12em;
                }
          
                nav ul li {
                      box-sizing: border-box;
                      width: 100%;
                      padding: 1px;
                      margin-left: 30px;
                      text-align: left;
                }
          
                .menu-icon {
                      display: block;
                }
          
          }
          
          nav{
              top: 0;
              position: block;
          }

          .menu{
              text-align: center;
          }

          .about{
              display:flex;
            
          }

          .row-footer{
              align-items: center;
             justify-items:center;
             background-color:transparent;
             color: white;
          }
          a[ id= "home" ]:target ~ #main div.panel {
            -webkit-transform: translateY( 0px);
            transform: translateY( 0px );
        }
        
        a[ id= "about" ]:target ~ #main div.panel {
            -webkit-transform: translateY( -500px );
            transform: translateY( -500px );
        }
        a[ id= "projects" ]:target ~ #main div.panel {
            -webkit-transform: translateY( -1000px );
            transform: translateY( -1000px );
        }

#language{
    float: left;
}      