.bg-black {
  background: #000;
  color: #fff; }

#main-header img {
  width: 100%;
  height: 100%; }

#main-header .port-item {
  width: 30%; }
  #main-header .port-item .fa {
    font-size: 2em; }

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer; }

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important; } }

    .xop-section {
      max-width: 100%;
  }
  
  .xop-grid {
      padding: 0;
      list-style: none;
      display: block;
      text-align: center;
      width: 100%;
  }
  
  .xop-grid:after {
      clear: both;
  }
  
  .xop-grid:after, .xop-box:before {
      content: '';
      display: table;
  }
 
.xop-grid li {
width: 320px;
height: 320px;
display: inline-block;
}

.xop-box {
width: 100%;
height: 100%;
position: relative;
cursor: pointer;
border-radius: 10px;
-webkit-transition: 0.3s ease-in-out, 
-webkit-transform 0.3s ease-in-out;
-moz-transition:  0.3s ease-in-out, 
-moz-transform 0.3s ease-in-out;
transition: all 0.3s ease-in-out, 
transform 0.3s ease-in-out, ;
}

.xop-box:hover {
transform: scale(1.05); 
}
.xop-img-1 {
background: #FFA3A3 ;
}
.xop-img-4 {
background: #7BC7FF     ;
}
.xop-img-2{
  background: #FCF1AA;
}
.xop-img-3{
  background: #ECADFF
}
.xop-img-6{
background: #f4f4f4; 
}

.xop-info {
position: absolute;
width: 100%;
height: 100%;
}

.xop-info h3 {

color: #4E5554      ;
font-size: 2.5rem;
margin: 0 30px;
padding: 70px 0 0 0;
line-height: 1.5;
}

.xop-info p {
color: #4E5554      ;
padding: 4px 5px;
margin: 0 30px;
font-size: 1rem;
line-height: 2;
}
