
@import url('https://fonts.googleapis.com/css?family=Assistant:200');

body {
    font-family: 'Assistant', sans-serif;
    color:black;
    margin-right:100px;
    margin-left:100px;
    
}
.txt-type{
    font-size:4rem;
    font-weight: 600
}
a{
    text-decoration: none !important;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
  }
  .ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
     overflow: hidden;
      background-color: #333333;
  }
  
  .li1 {
      float: left;
  }
  li a{
      color: white;
  }
  li a, li a:link {
      display: block;
      text-align: center;
      padding: 16px;
  }
  
  
p{
    font-size:1.2rem;
}
.text-editor{
    height: 100vh;
    margin-bottom:300px;
   
}
.html{
    height: 100vh;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;

    color: black;
    text-align: center;

    align-items: center;
    z-index: 1;
    }

.algorithm-station{
    height: 100%;
    margin-bottom: 300px;
    
}
.algorithm{
    margin-left: auto;
   margin-right: auto;
   display:block; 
   
}

.center{
   margin-left: auto;
   margin-right: auto;
   display:block; 
   width: 80%;
}

.tips{
    height: 100vh;
    margin-bottom: 550px;
}

